{% extends 'base.html.twig' %}

{% block title %}All Category{% endblock %}

{% block body %}
    <h1>Toutes les catégories : </h1>
    {% for category in category %}
        <div>
            <h2>{{ loop.index }} / - Catégorie : {{ category.name }}</h2>
            <a href="{{ path("category_show", { id: category.id }) }}">Voir la catégorie</a>
        </div><br>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}