{% extends 'base.html.twig' %}

{% block title %}All Category{% endblock %}

{% block body %}

    {% for category in categories %}
        <div>
            <h1>Toutes les séries de la categorie : {{ category.name }} </h1>
        </div>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}

    {% for program in programs %}
       <p>   {{ program.title }} </p>
    {% endfor %}

    <a href="{{ path('category_index') }}">
        Retour à la liste des categories
    </a>
{% endblock %}