{% extends 'base.html.twig' %}

{% block body %}

   <h1>saison n° : {{ seasonNumber.number }}</h1> <br><br>
   <p>année de sortie : {{ seasonNumber.year }} </p><br><br>
  <p>description : {{ seasonNumber.description }} </p>
{{ dump(seasonNumber) }}
{% endblock %}