{% extends 'base.html.twig' %}

{% block title %}New SeasonNumber{% endblock %}

{% block body %}
    <h1>Create new SeasonNumber</h1>
    {% for category, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ include('season_number/_form.html.twig') }}

    <a href="{{ path('app_season_number_index') }}">back to list</a>
{% endblock %}


